/* bootstrap */
.white-strip-wrapper {
  width: 100%;
  padding: 65px;
  text-align: center;
  color: #000;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .8);
}

.vertical-wrapper {
  font-size: 0;
  line-height: 1;
}

.vertical-wrapper:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.relative {
  position: relative;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.margin-b-10 {
  margin-bottom: 10px;
}

. margin-t-10 {
  margin-top: 10px;
}

.table {
  font-size: 14px;
}
/* end bootstrap */

/* general settings */
html, body {
  width: 100%;
  height: 100%;
}

#content-wrapper {
  position: relative;
  min-height: 100%;
  min-width: 990px;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  text-align: center;
}

.loader-wrapper .bounce  {
  width: 23px;
  height: 23px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loader-wrapper .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader-wrapper .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#content {
  margin: 0 auto;
  padding-bottom: 215px;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

header {
  height: 85px;
  background-color: #000;
}

header .logo-wrap {
  position: absolute;
  z-index: 11;
  left: 25px;
  top: 0;
}

header .logo-wrap a,
header .logo-wrap .logo {
  width: 135px;
  height: 135px;
  margin: 0;
}

header .logo-wrap .logo {
  -webkit-transition: -webkit-transform .2s ease;
  -moz-transition: -moz-transform .2s ease;
  -o-transition: -o-transform .2s ease;
  transition: transform .2s ease;
}

header .logo-wrap .logo:hover {
  -webkit-transform: scale(1.2) rotate(-15deg);
  -moz-transform: scale(1.2) rotate(-15deg);
  -ms-transform: scale(1.2) rotate(-15deg);
  -o-transform: scale(1.2) rotate(-15deg);
  transform: scale(1.2) rotate(-15deg);
}

header .main-nav {
  padding-left: 185px;
}

.main-nav a {
  padding: 35px 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  display: block;
  -webkit-transition: background-color .2s ease;
  -moz-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.main-nav a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #df5757;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: #000;
}

footer .footer-block {
  padding: 25px;
  text-align: center;
}

footer .footer-block.upper {
  padding-top: 65px;
}

footer .footer-block.lower {
  border-top: 1px solid #797979;
}

footer .footer-block .logo-container {
  position: absolute;
  z-index: 11;
  top: -40px;
  right: 0;
  left: 0;
}

footer .footer-block .logo-container .logo-wrap {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

footer .footer-block .logo-container .logo-wrap .logo {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s ease;
  -moz-transition: -moz-transform .2s ease;
  -o-transition: -o-transform .2s ease;
  transition: transform .2s ease;
}

footer .footer-block .logo-container .logo-wrap .logo:hover {
  -webkit-transform: scale(1.2) rotate(-15deg);
  -moz-transform: scale(1.2) rotate(-15deg);
  -ms-transform: scale(1.2) rotate(-15deg);
  -o-transform: scale(1.2) rotate(-15deg);
  transform: scale(1.2) rotate(-15deg);
}

footer .footer-block .footer-nav li {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
}

footer .footer-block .footer-nav li a {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

.padding-footer {
  padding-bottom: 40px;
}

.dropdown-menu {
	left: 15px;
	min-width: 350px;
}
/* end general settings */

/* landing page */
.pg-landing {
  background: #000;
}

.pg-landing .intro-container {
  position: relative;
  background: url(../img/pg-landing/arrows.png) center center no-repeat;
}

.pg-landing .intro-container .girl {
  height: 100%;
  background: url(../img/pg-landing/sport-girl.png) center center no-repeat;
}

.pg-landing .intro-container .girl a {
  display: block;
  position: absolute;
  color: #fff !important;
}

.pg-landing .intro-container .girl a.food {
  top: 5%;
  left: 30%;
}

.pg-landing .intro-container .girl a.sport {
  top: 5%;
  right: 30%;
}

.pg-landing .intro-container .girl a.beauty {
  bottom: 5%;
  left: 30%;
}

.pg-landing .intro-container .girl a.health {
  bottom: 5%;
  right: 30%;
}

/* end landing page */


/* recipe add page */
.pg-product-list .edit-button-container .glyphicon.glyphicon-ok-circle,
.pg-recipe-add .remove-ingredient {
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
}
/* end recipe add page */


/* exercise list page */
.exercise-list .exercise {
  padding: 15px;
  cursor: pointer;
  border: 1px solid #666;
  margin-bottom: 30px;
}

.exercise-list .exercise h1,
.exercise-list .exercise h2 {
  margin: 0;
  line-height: 1.5;
  font-size: 14px;
}

.exercise-list .exercise h2 {
  font-size: 12px;
}

.exercise-list .exercise img {
  width: 100%;
}

/* end exercise list page */