<footer>
  <section class="footer-block upper">
    <div class="logo-container">
      <a class="logo-wrap" href="/" title="uHealth">
        <img class="logo" src="https://thecleansekitchen.com.au/skin/frontend/tck/default/img/logo.svg"
             alt="uHealth logo">
      </a>
    </div>
    <nav class="footer-nav">
      <ul>
        <li><a href="#" title="See our privacy policy">Privacy
          Policy</a></li>
        <li><a href="#" title="Learn more about our shipping and returns">Shipping</a></li>
        <li><a href="#" title="See our terms and conditions">Terms &amp; Conditions</a></li>
      </ul>
    </nav>
  </section>
  <section class="footer-block lower">
    <div class="copyright">© 2014 uHealth</div>
  </section>
</footer>