<footer>
  <section class="footer-block upper">
    <div class="logo-container">
      <a class="logo-wrap" ui-sref="landing" title="uHealth">
        <img class="logo" src="https://thecleansekitchen.com.au/skin/frontend/tck/default/img/logo.svg"
             alt="uHealth logo">
      </a>
    </div>
    <nav class="footer-nav">
      <ul>
        <li><a href="#" title="See our privacy policy">Контакты</a></li>
        <li><a href="#" title="Learn more about our shipping and returns">Предложения</a></li>
        <li><a href="#" title="See our terms and conditions">Условия использования</a></li>
        <li><a href="#" title="See our terms and conditions">Для партнеров и рекламодателей</a></li>
      </ul>
    </nav>
  </section>
  <section class="footer-block lower">
    <div class="copyright">© 2015 uHealth</div>
  </section>
</footer>