<header>
  <section class="logo-wrap">
    <a href="/" title="uHealth">
      <img class="logo" src="https://thecleansekitchen.com.au/skin/frontend/tck/default/img/logo.svg"
           alt="uHealth logo">
    </a>
  </section>

  <nav role="navigation" class="main-nav inline">
    <ul class="list-inline">
      <li><a href="#">Питание</a></li>
      <li><a href="#">Спорт</a></li>
      <li><a href="#">Красота</a></li>
      <li><a href="#">Здоровье</a></li>
      <li><a href="#">Личный кабинет</a></li>
    </ul>
  </nav>
</header>