<header>
  <section class="logo-wrap">
    <a ui-sref="landing" title="uHealth">
      <img class="logo" src="https://thecleansekitchen.com.au/skin/frontend/tck/default/img/logo.svg"
           alt="uHealth logo">
    </a>
  </section>

  <nav role="navigation" class="main-nav inline">
    <ul class="list-inline">
      <li><a ui-sref="recipes.list">Питание</a></li>
      <li><a ui-sref="sport.list">Спорт</a></li>
      <li><a ui-sref="beauty">Красота</a></li>
      <li><a ui-sref="health">Здоровье</a></li>
      <li><a ui-sref="personal">Личный кабинет</a></li>
    </ul>
  </nav>
</header>