<form data-ng-submit="saveRecipe()" role="form" novalidate>
  <h2>Добавление рецепта</h2>

  <div class="form-group form-group-lg">
    <label>Название блюда</label>
    <input class="form-control" type="text" placeholder="Название блюда" data-ng-model="recipe.title"/>
  </div>

  <div class="row">
    <div class="col-xs-4 form-group">
      <label>Сложность приготовления (1-5)</label>
      <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
         title="Целое значение от 1 до 5. При этом 1 - самое легкое блюдо (например, где ингридиенты необходимо лишь смешать,
         выложить в форму и запечь), 5 - самое сложное."></i>
      <input class="form-control" type="text" data-ng-model="recipe.complexity" />
    </div>

    <div class="col-xs-4 form-group">
      <label>Время подготовки</label>
      <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
         title="Время подготовки (это может быть время, необходимое блюду настояться в процессе приготовления,
         или время для мариновки продуктов)"></i>
      <input class="form-control" type="text" data-ng-model="recipe.preparationTime" />
    </div>

    <div class="col-xs-4 form-group">
      <label>Общее время приготовления</label>
      <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right"
         title="Общее время приготовления блюда, включая время подготовки"></i>
      <input class="form-control" type="text" data-ng-model="recipe.cookingTime" />
    </div>
  </div>

  <div class="form-group">
    <label>Ингридиенты</label>

    <div class="row relative margin-b-10" data-ng-repeat="ingredient in ingredients">
      <div class="col-xs-7">
        <input class="form-control" type="text" data-ng-model="ingredient.title" placeholder="Название продукта"
               data-ng-focus="showProductList = true"/>
      </div>
      <div class="col-xs-4">
        <input class="form-control" type="text" data-ng-model="ingredient.amount" placeholder="Количество"/>
      </div>
      <div class="col-xs-1 text-right">
        <i class="remove-ingredient glyphicon glyphicon-remove-circle" title="Удалить ингридиент"
           data-ng-click="removeIngredient()"></i>
      </div>
      <div data-ng-show="showProductList && ingredient.title.length > 2"
           data-ng-include="'html/components/product-list.html'"></div>
    </div>
    <input class="btn btn-default" type="button" value="Добавить ингридиент" data-ng-click="addIngredient()"/>
  </div>

  <div class="form-group">
    <label>Описание</label>
    <textarea class="form-control" data-ng-model="recipe.description" placeholder="Описание"></textarea>
  </div>

  <div class="form-group" data-ng-controller="CKEditorController">
    <label>Приготовление</label>
    <textarea id="editorSteps" placeholder="Способ приготовления"></textarea>
  </div>


  <!--<p>Категории:</p>-->
  <!--<input name="execution" placeholder="Категории"></textarea>||tags input-->
  <input class="btn btn-primary btn-lg margin-t-10" type="submit" value="Добавить рецепт"/>
</form>